openai-whisper
torch
sounddevice
scipy
ffmpeg
tqdm
langchain
langchain-community
langchain_openai
langgraph
openai
faiss-cpu
tiktoken
pypdf
sentence-transformers
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
--extra-index-url https://download.pytorch.org/whl/cu121
dotenv